/* Add CSS styling here */
* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border:1px solid grey; */
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #0b0c10;
}


/*==============================================================*/

nav {
    display:flex;
    justify-content:space-between;
    padding:2% 5%;
    align-items: center;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 3rem;
    color: #c5c6c7;
    animation-name: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes colors {
    0% {color: #c5c6c7;}
    33.3% {color: #66fcf1;}
    66.6% {color: #45A29E;}
    100% {color: #1f2833;}
}

.navButtons {
        padding: 15px 32px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        /* align-content: center; */
        border-radius: 5px;
        color: #45A29E;
        border: 2px solid #45a29e;
        transition: 2s;
        background-color: #0b0c10;
}

.navButtons:hover {
    background-color: #45a29e;
    color: #0b0c10;
    border: 2px solid #0b0c10;
}




/*==============================================================*/
section h2 {
    font-size: 6rem;
    color: #c5c6c7;
    /* margin-top: 50%; */
    margin-bottom: 10%;
}

.heroSection {
    width: 100%;
    height: calc(100vh - 90px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .ctaImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
} */

/* .ctaButton {

} */
.ctaMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
}
.ctaLink {
    padding: 15px 45px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    align-content: center;
    border-radius: 5px;
    color: #45A29E;
    border: 2px solid #45a29e;
    transition: 2s;
    background-color: #0b0c10;
}

.ctaLink:hover {
    background-color: #45a29e;
    color: #0b0c10;
    border: 2px solid #0b0c10;
}

/*==============================================================*/

.imgRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imgPanel {
    width: 30vw;
    height: 40vw;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    margin: 10px;
}
.imgTitle {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #0b0c10;
    animation-name: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.imgBg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* .projectName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.3rem;
    margin: 2% 0;
    color: #c5c6c7;
    
} */

#left {
    margin-left: 8%;
}

#right {
    margin-right: 8%;
}

/*==============================================================*/

footer {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;  
}

/*==============================================================*/

@media (max-width: 800px){
    header nav{
        display: flex;
    }
    header nav {
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
    }
    .menu {
        /* height: 70px; */
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .imgPanel {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width: 500px){
    .menu {
        display: flex;
        height: auto;
        width: 95%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navButtons {
        margin: 5px;
    }
    .imgPanel {
        width: 90vw;
        height: 40vw;
    }
}